#cwr {
	width: 7rem;
	height: 2rem;
	left: 33rem;
	top: 20.7rem;
	border-radius: 1rem;
	border-width: 0.13rem;
}

#cwr .title
{
	border: 0;
	border-radius: 0;
	width: 70%;
	height: 50%;
	top: 13%;
	left: 15%;
	padding: 0;
	margin: 0;
}